$primary: #004AAD;
$secondary: #c471ed;
$accent: #f64f59;

.triple-gradient {
  background: #004AAD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $accent, $secondary, $primary);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $accent, $secondary, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}